body {
	font-family: 'Barlow Condensed', sans-serif;
	font-style: normal;
	background-color: gray;

}

/* HEADER */

.name img{
	height: 50px;
}

.top-bar {
	background-color: red;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
	color: white;
	background-color: red;
}

.top-bar-section li:not(.has-form):active:hover,
.top-bar-section li:not(.has-form):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover {
	color: #fff;
	background-color: black;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section li.active:not(.has-form) a:not(.button){
	color: #fff;
	background-color: white;
	font-weight: 700;

/* MAIN */


h1,h2,h3,h4 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

.product-price h2 {
	color: red;
}



/* FOOTER */

footer {
	padding: 1.5rem 0;
	background-color: black;

}
