body {
	font-family: 'Barlow Condensed', sans-serif;
	font-style: normal;
	background-color: gray;

}

/* HEADER */

.name img{
	height: 45px;
	padding-top: 5px
}

.top-bar {
	background-color: red;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
	color: white;
	background-color: red;
}

.top-bar-section li:not(.has-form):active:hover,
.top-bar-section li:not(.has-form):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover {
	color: #fff;
	background-color: black;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section li.active:not(.has-form) a:not(.button){
	color: #fff;
	background-color: lightgrey;
	font-weight: 700;
}

/* MAIN */

main{
  font-family: 'Roboto', sans-serif;'
}



h1,h2,h3,h4 {
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
}

h5 {
	text-align: center;
	color: white;
}

.product-price h2 {
	color: red;
}

main img:hover {
	opacity: .6;
}

figure { 
  overflow: hidden;
  position: relative;
  width: 100%;
}

figcaption {
  opacity: .6;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  text-align: center;
  padding: 20px;
  color: #fff;
  transition: all .4s ease;
  box-sizing: border-box;
}

.textgroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.textgroup h1 {
  margin: 0 0 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}

.textgroup p {
  margin: 0;
  padding-top: 6px;
  font-style: italic;

}

figure:hover figcaption {
  top: 0;

}


/* FOOTER */

footer {
	padding: 1.5rem 0;
	background-color: black;

}
